# Ignore everything...
*
# other than...
# specific top-level files,
!.gitignore
!LICENSE
!README.md
!platformio.ini

# ProjectFolders
!IconsPhotosEtc/
!IconsPhotosEtc/**
!src/
!src/**
!Documentation/
!Documentation/**
!desktop/
!desktop/**

# Exclude build output
desktop/build/